<div>
    <h2 id="page-heading">
        <span jhiTranslate="chidrenApp.chid.home.title">Chids</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chid-my-suffix" [routerLink]="['/chid-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="chidrenApp.chid.home.createLabel">
            Create new Chid
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="chids">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fullName"><span jhiTranslate="chidrenApp.chid.fullName">Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sex"><span jhiTranslate="chidrenApp.chid.sex">Sex</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="birthYear"><span jhiTranslate="chidrenApp.chid.birthYear">Birth Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entranceYear"><span jhiTranslate="chidrenApp.chid.entranceYear">Entrance Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="introduction"><span jhiTranslate="chidrenApp.chid.introduction">Introduction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="photoLink"><span jhiTranslate="chidrenApp.chid.photoLink">Photo Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="etc"><span jhiTranslate="chidrenApp.chid.etc">Etc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="supportedFund"><span jhiTranslate="chidrenApp.chid.supportedFund">Supported Fund</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currency"><span jhiTranslate="chidrenApp.chid.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdTime"><span jhiTranslate="chidrenApp.chid.createdTime">Created Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="chidrenApp.chid.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chid of chids ;trackBy: trackId">
                <td><a [routerLink]="['/chid-my-suffix', chid.id, 'view' ]">{{chid.id}}</a></td>
                <td>{{chid.fullName}}</td>
                <td jhiTranslate="{{'chidrenApp.Sex.' + chid.sex}}">{{chid.sex}}</td>
                <td>{{chid.birthYear}}</td>
                <td>{{chid.entranceYear}}</td>
                <td>{{chid.introduction}}</td>
                <td>{{chid.photoLink}}</td>
                <td>{{chid.etc}}</td>
                <td>{{chid.supportedFund}}</td>
                <td jhiTranslate="{{'chidrenApp.Currency.' + chid.currency}}">{{chid.currency}}</td>
                <td>{{chid.createdTime | date:'medium'}}</td>
                <td>{{chid.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chid-my-suffix', chid.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chid-my-suffix', chid.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chid-my-suffix/'+ chid.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="chids && chids.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
